# Git
.git
.gitignore

# Go
*.mod
*.sum
*.lock
vendor/

# Build artifacts
bin/kids-checkin

# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Environment variables
.env*

# air love reload
tmp

seed
